@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-color: #e8e4e4;
	margin: 0 30px;
}

.person {
	padding: 1rem;
	border-radius: 20px;
	border: 2px solid rgb(204, 188, 188);
	width: fit-content;
}
.person-list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 2rem;
	max-width: 1200px;
	margin: 0 auto;
	margin-top: 50px;
}

@media screen and (max-width: 768px) {
    .person-list {
        grid-template-columns: repeat(2, 1fr); /* Two columns on smaller screens */
    }
}

@media screen and (max-width: 480px) {
    .person-list {
        grid-template-columns: 1fr; /* One column on even smaller screens */
    }
}